
.Navitems {
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #800000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Navitems li { padding:3px}

.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width:100%;
    list-style: none;
}

.NavigationItem li a {
    color:#8f5c2c;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
  
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
    
       color: #FFA07A

    }

    @media(min-width: 500px) {

        .Navitems {
          flex-flow: row;
     
        }

        .NavigationItem {
            margin: 0;
            box-sizing: border-box;
            display: flex;
            height: 100%;
            width: auto;
        }
        
        .NavigationItem li a {
            color:white;
            height: 100%;
            padding: 17px 10px;
            display: block;
            }
        
            .NavigationItem li:hover,
            .NavigationItem li:active,
            .NavigationItem li.active {
                background-color: #8f5c2c;
                border-bottom: 4px solid	#FFA07A;
                color:#FFA07A;
             
        
            }
    }