.Checkoutsummary {
    width: 80%;
    text-align: center;
    margin: 100px auto
}

.Nav {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #800000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}



.Button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 8px;
    margin: 10px;
    font-weight: bold;
}


