.BurgerControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BurgerControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.BurgerControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BurgerControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
    color: black;
}

.BurgerControl .Less {  
    background-color: #A0522D;
    color: white;
}

.BurgerControl .More {
    background-color:	#8B4513;
    color: white;
}

.BurgerControl .Less:hover, .BurgerControl .Less:active {  
    background-color: #DAA972;
    color: white;
}

.BurgerControl .More:hover,.BurgerControl .More:active {
    background-color: #99703F;
    color: white;
}