.Contactdata {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box
    
    }
    
    .Input {
        display: block;
        margin: 5px auto;
        padding: 7px
    }
    
    
.Button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 8px;
    margin: 10px;
    font-weight: bold;
}


    @media(min-width:600px) {
        .Contactdata {
            width: 500px;
           
            }
            
    }